/* Specific to index page */

.sidebar {
  color: rgb(57,57,57);
  float: right;
  margin-right: 6rem;
  width: 19rem;
}

/* Specific to about page */

header {
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.body-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Universal */

* {
  font-family: sans-serif;
  line-height: 1.8rem;
}
h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
a {
  color: rgb(37,155,183);
  text-decoration: none;
}
figure {
  margin-left: 0;
}
footer {
  float: left;
  position: relative;
  margin-top: 8rem;
}
.info {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-40%,-50%);
  color: white;
}
nav * {
  font-weight: bold;
  color: white;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
